<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login da Escola</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_escola.css') }}">
</head>
<body>
  <div class="form-container">
    <h1>Login da Escola</h1>
    <form action="/login_escola" method="POST">
      <input type="text" name="nome_escola" placeholder="Nome da Escola" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <div class="captcha-container">
        <input type="checkbox" id="captcha" name="captcha" required>
        <label for="captcha">Não sou um robô</label>
      </div>
      <a href="/area-cadastro" class="btn">Entrar</a>
    </form>
  </div>
</body>
</html>

